/** Stylesheet for the JWB script.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, aBoston, MA 02110-1301, USA.
 * http://www.gnu.org/copyleft/gpl.html
 *
 * See [[User:Joeytje50/JWB.js]] for more information.
 */

/* Component styles. */
label, div[role="group"] > span {
	white-space: nowrap;
	font-size: 15px;
}

/* Groups. */

div[role="group"] {
	display: flex;
	flex-wrap: wrap;
	gap: 12px 16px;
}

div[role="group"] > div:not(:has(> input)) {
	display: flex;
	gap: 12px 16px;
}

@media only screen and (max-width: 1499px) {
	div[role="group"]:has(:nth-of-type(3)),
	div[role="group"] div:has(:nth-of-type(3)) {
		flex-direction: column;
	}
}

div[role="group"] div:has(> input[type="radio"]) {
	top: 1.5px;
}

div[role="group"] div:has(> input[type="checkbox"]) {
	margin-top: -1.5px;
}

div[role="group"] div:has(> input[type="text"]) {
	align-items: flex-start;
	flex: 1 1;
	flex-direction: column;
	height: 44px;
}

/** Buttons. **/
button:not(.JWBtab):not(.mw-collapsible-toggle) {
	height: 18px;
	align-items: center;
	-webkit-appearance: none;
	background-color: var(--background-color-progressive, #36c);
	border: 1px solid var(--background-color-progressive, #36c);
	border-radius: 3px;
	box-sizing: initial;
	color: var(--color-inverted-fixed, white);
	display: inline-flex;
	font-family: inherit;
	font-size: 12px;
	font-weight: 600;
	justify-content: center;
	letter-spacing: .15px;
	line-height: 16px;
	margin: 0;
	min-height: 18px;
	padding: 7px 18px;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: .3s;
	transition-property: background-color, border-color, color;
	vertical-align: top;
	cursor: pointer;
}

button:not(.JWBtab):not(.mw-collapsible-toggle):active, button:not(.JWBtab):not(.mw-collapsible-toggle):hover {
	background-color: var(--background-color-progressive--hover, #3056a9);
	border: 1px solid var(--background-color-progressive--hover, #3056a9);
}

button:not(.JWBtab):not(.mw-collapsible-toggle):disabled {
	cursor: default;
	opacity: .5;
	pointer-events: none;
}

button:not(.JWBtab):not(.mw-collapsible-toggle)::before {
	height: 24px;
	width: 24px;
	margin-inline-end: 6px;
	pointer-events: none;
}

#import {
	display: none;
}

/** Text input fields. **/
div:has(> input[type="text"]), div:has(> input[type="number"]) {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin: 0;
	gap: 2px;
}

input[type="text"], input[type="number"] {
	background-color: initial;
	border: 0;
	border-bottom: 1px solid var(--border-color-base, #a2a9b1);
	box-sizing: border-box;
	font-family: inherit;
	font-size: 16px;
	line-height: 1;
	padding: 0 0 2px;
	resize: none;
	width: 100%;
}

input[type="text"]:disabled, input[type="number"]:disabled {
	border-bottom-color: var(--border-color-base, #a2a9b1);
	border-bottom-style: dashed;
	color: color-mix(in srgb, var(--color-base, #202122) 50%, transparent);
	cursor: not-allowed;
}

input[type="text"]:focus, input[type="number"]:focus {
	border-color: var(--color-link, #36c);
	outline: 0;
}

/** Checkbox. **/
div:has(> input[type="checkbox"]) {
	align-items: flex-start;
	display: inline-flex;
	height: 20px;
	position: relative;
}

input[type="checkbox"] {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

input[type="checkbox"] + label {
	align-items: center;
	color: var(--color-base, #202122);
	cursor: pointer;
	display: flex;
	user-select: none;
}

input[type="checkbox"] + label::before {
	border-radius: 3px;
	content: '';
	margin-bottom: auto;
	margin-inline-end: 6px;
	min-height: 20px;
	min-width: 20px;
}

input[type="checkbox"] + label::after {
	-webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 15h12V3H3v12zm13 2H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1z'/></svg>");
	background-color: var(--color-base, #202122);
	content: '';
	height: 18px;
	inset-inline-start: 1px;
	mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 15h12V3H3v12zm13 2H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1z'/></svg>");
	mask-repeat: no-repeat;
	position: absolute;
	top: 2px;
	width: 18px;
}

input[type="checkbox"]:hover:not(:disabled) + label::after {
	background-color: var(--color-base--hover, #404244);
}

input[type="checkbox"]:focus-visible + label::before {
	outline: 2px solid #005fcc;
}

input[type="checkbox"]:disabled, input[type="checkbox"]:disabled + label::before {
	cursor: not-allowed;
	pointer-events: none;
}

input[type="checkbox"]:disabled + label {
	cursor: default;
	pointer-events: none;
}

input[type="checkbox"]:disabled + label::after {
	opacity: .5;
}

input[type="checkbox"]:checked + label::after {
	-webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 15h12V3H3v12zM16 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM7.293 11.707a.997.997 0 0 0 1.414 0l4-4a.999.999 0 1 0-1.414-1.414L8 9.586 6.707 8.293a.999.999 0 1 0-1.414 1.414l2 2z'/></svg>");
	background-color: var(--color-link, #36c);
	mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 15h12V3H3v12zM16 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM7.293 11.707a.997.997 0 0 0 1.414 0l4-4a.999.999 0 1 0-1.414-1.414L8 9.586 6.707 8.293a.999.999 0 1 0-1.414 1.414l2 2z'/></svg>");
	mask-repeat: no-repeat;
}

input[type="checkbox"]:checked:hover:not(:disabled) + label::after {
	background-color: var(--color-link--hover, #3056a9);
}

/* Radio buttons. */
div:has(> input[type="radio"]) {
	display: flex;
	position: relative;
	white-space: nowrap;
	z-index: 0;
	line-height: 1;
}

input[type="radio"] {
	height: 16px;
	margin: 0;
	margin-inline-end: 6px;
	max-width: none;
	opacity: 0;
	position: relative;
	width: 16px;
	z-index: 1;
	cursor: pointer;
}

input[type="radio"] + label::before {
	background-color: transparent;
	border: 2px solid currentColor;
	border-radius: 100%;
	height: 12px;
	position: absolute;
	transition: color 300ms;
	width: 12px;
	color: var(--border-color-base, #a2a9b1);
	content: '';
	inset-inline-start: 0;
}

input[type="radio"]:hover + label::before, input[type="radio"]:checked + label::before {
	color: var(--color-link, #36c);
}

input[type="radio"]:checked + label::after {
	border-radius: 100%;
	content: '';
	height: 6px;
	transition: height 100ms, width 100ms;
	width: 6px;
	background-color: var(--color-link, #36c);
	display: block;
	position: absolute;
	top: 5px;
	inset-inline-start: 5px;
}

input[type="radio"]:disabled {
	pointer-events: none;
}

input[type="radio"]:disabled + label::before {
	opacity: .5;
	color: var(--border-color-base, #a2a9b1);
}

input[type="radio"]:disabled:checked + label::before {
	color: var(--color-link, #36c);
}

/* Spinner. */

.spinner {
	animation: rotator .5s linear infinite;
	inset: 50%;
	position: absolute;
	margin: -33px 0 0 -33px;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'><style>@keyframes dash{to{stroke-dashoffset:0}}.stroke{animation: dash 1.25s linear infinite alternate-reverse;stroke:%2336c}</style><g transform='translate(22.5, 22.5)'><circle class='stroke' fill='none' stroke-width='5' stroke-dasharray='125' stroke-dashoffset='125' stroke-linecap='round' r='20'/></g></svg>");;
	width: 45px;
	height: 45px;
}

@keyframes rotator {
	to {
		transform: rotate(1turn);
	}
}

/* Select. */

select {
	margin-inline-start: 5px;
}

#ns-filter select {
	margin-top: 2px;
	width: fit-content;
}

div:has(> select) {
	display: flex;
}

#protect-options-container select {
	width: 100%;
}

/* Text areas. */
textarea, article {
	background-color: var(--background-color-base, white);
	color: var(--color-base, #202122);
	border-color: var(--border-color-base, #a2a9b1);
	padding: 8px 12px;
	height: 30vh;
	min-height: 48px;
	resize: vertical;
}

textarea {
	font-family: monospace;
}

textarea:disabled {
	background-color: var(--background-color-disabled, #dadde3);
	border-color: var(--border-color-disabled, #c8ccd1);
}

div:has(> textarea), div:has(> article) {
	display: flex;
	flex-flow: column wrap;
	gap: 6px;
}

label:has(+ textarea), label:has(+ article) {
	font-weight: bold;
	font-size: 85%;
}

/* Switches. */

.switch {
	display: flex;
}

.switch > :last-child {
	display: none;
}

.switch:has(> :first-child input[type="checkbox"]:checked) > :last-child {
	display: flex;
	margin-inline-start: 12px;
	padding-inline-start: 12px;
	border-inline-start: 1px solid var(--border-color-base, #a2a9b1);
	flex-direction: row;
}

/* Dialog */

dialog {
	background-color: var(--background-color-neutral, #eaecf0);
	height: calc(100% - 96px);
	min-height: 148px;
	min-width: 480px;
	padding: 8px 24px;
	border: none;
}

dialog::backdrop {
	background-color: #00000070;
}

/* Component styles end. */

/* Normalise body. */
html, body {
	height: auto;
	margin: 0;
	padding: 0;
	background-color: var(--background-color-base, white);
	color: var(--color-base, #202122);
	overflow-x: hidden; /* TODO: why? */
}

html {
	color-scheme: light;
}

@media screen {
	html.skin-theme-clientpref-night {
		color-scheme: dark;
	}
}

@media screen and (prefers-color-scheme: dark) {
	html.skin-theme-clientpref-os {
		color-scheme: dark;
	}
}

body {
	padding: 16px;
}

/* Containers. */
#inputsWindow {
	display: flex;
	margin-bottom: 15px;
	width: 100%;
}

#inputsBox {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(12, minmax(5px, 1fr));
	width: 100%;
}

#tabs {
	display: flex;
	gap: 6px;
	flex-flow: row wrap;
	grid-column-end: span 12;
}

/* Tabs. */

.tabholder {
	display: flex;
	width: 100%;
}

.JWBtab {
	align-items: center;
	background: none;
	border: none;
	border-bottom: 1px solid var(--border-color-base, #a2a9b1);
	cursor: pointer;
	color: var(--color-base, #202122);
	display: inline-flex;
	flex: 20%;
	font: 500 14px/1 Rubik, Roboto, Arial, sans-serif;
	height: 40px;
	justify-content: center;
	letter-spacing: .5px;
	outline: 0;
	padding: 0 11px;
	position: relative;
	transition: opacity 75ms;
}

.JWBtab.active {
	color: var(--color-link, #36c);
	border-bottom: 2px currentColor solid;
}

.JWBtab:hover {
	background-color: color-mix(in srgb, currentColor 8%, transparent);
}

.JWBtab:focus, .JWBtab:active {
	background-color: color-mix(in srgb, currentColor 16%, transparent);
}

/* Tab contents style. */
.JWBtabc {
	border: 0;
	height: auto;
	margin: 0 auto;
	overflow: hidden; /* TODO: why? */
	padding: 0;
	width: 100%;
	display: none;
}

.JWBtabc.active {
	display: grid;
	gap: 8px;
	grid-template-columns: repeat(12, minmax(5px, 1fr));
}

#pagelist, #settings, #edit-actions-container, #page-actions-container {
	flex-flow: row wrap;
	align-content: flex-start;
}

#pagelist > div, #settings > div, #edit-actions-container > div, #page-actions-container > div {
	flex-basis: 100%;
}

/* Text areas' styles. */
#articleBox {
	grid-column-end: span 3;
}

#articleList {
	white-space: pre;
}

#editBox {
	grid-column-end: span 9;
}

@media only screen and (max-width: 849px) {
	#editBox > label {
		text-align: end;
	}
}

#resultWindow {
	background-color: var(--background-color-neutral, #eaecf0);
	margin-bottom: 42px;
	min-height: fit-content;
	height: 16px;
	font-size: 14px;
	overflow: auto;
}

#resultWindow.log-skipped, #resultWindow.log-error {
	height: unset;
}

#resultWindow.log-skipped {
	background-color: var(--background-color-progressive-subtle, #e8eeff);
}

#resultWindow.log-error {
	background-color: var(--background-color-error-subtle, #ffe9e5);
}

tr[data-line]:not(.lineheader) {
	cursor: pointer;
}

/* Panels' inner styling. */
fieldset {
	display: flex;
	flex-direction: column;
	grid-column-end: span 4;
	gap: 12px;
	padding: 0 16px 12px;
	line-height: inherit;
	border: 1px solid var(--border-color-base, #a2a9b1);
	margin: 0;
}

.JWBpopup fieldset {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media only screen and (max-width: 1179px) {
	.JWBtabc {
		width: 750px;
	}

	fieldset {
		grid-column-end: span 12;
	}

	#resultWindow {
		margin-bottom: 96px;
	}
}

#status {
	grid-column-end: span 12;
}

/* Icons. */

dt:has(+ #totPages)::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z'/></svg>");
}

dt:has(+ #pagesSaved)::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><polygon points='18.7,6 9.53,15.17 5.28,10.93 3.87,12.35 9.53,18 20.13,7.4'/></svg>");
}

dt:has(+ #nullEdits)::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z'/></svg>");
}

dt:has(+ #pagesSkipped)::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M6 18l8.5-6L6 6v12zm2-8.14L11.03 12 8 14.14V9.86zM16 6h2v12h-2z'/></svg>");
}

dt:has(+ #otherActions)::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12,7c-0.55,0-1,0.45-1,1s0.45,1,1,1s1-0.45,1-1S12.55,7,12,7z M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10 S17.52,2,12,2z M12,20c-4.41,0-8-3.59-8-8c0-4.41,3.59-8,8-8s8,3.59,8,8C20,16.41,16.41,20,12,20z M11,17h2v-6h-2V17z'/></svg>");
}

#saveAs::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M17,5v12.97l-4.21-1.81L12,15.82l-0.79,0.34L7,17.97V5H17 M17,3H7C5.9,3,5,3.9,5,5v16l7-3l7,3V5C19,3.9,18.1,3,17,3L17,3z'/></svg>");
}

#deleteSetup::before, #deletePage::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M15,4V3H9v1H4v2h1v13c0,1.1,0.9,2,2,2h10c1.1,0,2-0.9,2-2V6h1V4H15z M17,19H7V6h10V19z M9,8h2v9H9V8z M13,8h2v9h-2V8z'/></svg>");
}

#saveToWiki::before, #submitButton::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19z'/><circle cx='12' cy='15' r='3'/><path d='M6 6h9v4H6z'/></svg>");
}

#download::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z'/></svg>");
}

#importLabel::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z'/></svg>");
}

#updateSetups::before, #refreshRETF::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M13 9v2h7V4h-2v2.74C16.53 5.07 14.4 4 12 4c-2.21 0-4.21.9-5.66 2.34S4 9.79 4 12c0 4.42 3.58 8 8 8 2.21 0 4.21-.9 5.66-2.34l-1.42-1.42C15.15 17.33 13.65 18 12 18c-3.31 0-6-2.69-6-6 0-1.65.67-3.15 1.76-4.24C8.85 6.67 10.35 6 12 6c2.21 0 4.15 1.21 5.19 3H13z'/></svg>");
}

#watchNow::before, button[popovertarget="replacesPopup"]::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z'/></svg>");
}

#startbutton::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M10 8.64L15.27 12 10 15.36V8.64M8 5v14l11-7L8 5z'/></svg>");
}

#stopbutton::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 19h-6V5h6v14zm-4-2h2V7h-2v10zm-4 2H5V5h6v14zm-4-2h2V7H7v10z'/></svg>");
}

#skipRETF::before, .skipbutton::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M6 18l8.5-6L6 6v12zm2-8.14L11.03 12 8 14.14V9.86zM16 6h2v12h-2z'/></svg>");
}

#previewButton::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19,3H5C3.89,3,3,3.9,3,5v14c0,1.1,0.89,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.11,3,19,3z M19,19H5V7h14V19z M13.5,13 c0,0.83-0.67,1.5-1.5,1.5s-1.5-0.67-1.5-1.5c0-0.83,0.67-1.5,1.5-1.5S13.5,12.17,13.5,13z M12,9c-2.73,0-5.06,1.66-6,4 c0.94,2.34,3.27,4,6,4s5.06-1.66,6-4C17.06,10.66,14.73,9,12,9z M12,15.5c-1.38,0-2.5-1.12-2.5-2.5c0-1.38,1.12-2.5,2.5-2.5 c1.38,0,2.5,1.12,2.5,2.5C14.5,14.38,13.38,15.5,12,15.5z'/></svg>");
}

#diffButton::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M18,23H4c-1.1,0-2-0.9-2-2V7h2v14h14V23z M15,1H8C6.9,1,6.01,1.9,6.01,3L6,17c0,1.1,0.89,2,1.99,2H19c1.1,0,2-0.9,2-2V7 L15,1z M16.5,15h-6v-2h6V15z M16.5,9h-2v2h-2V9h-2V7h2V5h2v2h2V9z'/></svg>");
}

#movePage::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M22,8l-4-4v3H3v2h15v3L22,8z'/><path d='M2,16l4,4v-3h15v-2H6v-3L2,16z'/></svg>");
}

#protectPage::before {
	content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M18,8h-1V6c0-2.76-2.24-5-5-5S7,3.24,7,6v2H6c-1.1,0-2,0.9-2,2v10c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V10 C20,8.9,19.1,8,18,8z M9,6c0-1.66,1.34-3,3-3s3,1.34,3,3v2H9V6z M18,20H6V10h12V20z M12,17c1.1,0,2-0.9,2-2s-0.9-2-2-2s-2,0.9-2,2 S10.9,17,12,17z'/></svg>");
}

/* Interface. */

/** Tab 2: editing. **/

.infoLink {
	font-size: 70%;
	height: 13px;
	text-decoration: none;
	border-bottom: 1px dotted #000;
	cursor: help;
	margin-inline-start: 3px;
	margin-top: -12px;
}

#regex-link {
	margin-inline-start: 4px;
}

/*** Summary text input. ***/
div:has(> #summary) {
	flex-direction: row;
}

#suffix {
	background-color: var(--background-color-neutral, #eaecf0);
	color: var(--color-base--hover, #404244);
	font-size: 12px;
	margin-inline-start: 6px;
	margin-top: -1px;
	padding: 4px 6px;
	white-space: nowrap;
	display: block;
}

@media only screen and (min-width: 1610px) {
	#watch-container > :last-child {
		margin-inline-start: 12px;
		padding-inline-start: 12px;
		border-inline-start: 1px solid var(--border-color-base, #a2a9b1);
	}
}

@media only screen and (max-width: 1609px) {
	#watch-container {
		flex-direction: column;
		gap: 10px;
	}
}

.replaces {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#watchPage {
	margin: auto;
}

div:has(> #watchNow) {
	display: flex;
	flex: 100%;
}

#watchNow {
	flex: 100%;
}

.replaces .switch, #skip-container .switch {
	font-style: italic;
}

input[name="regexFlags"], #containFlags, #throttle {
	width: 30px;
	margin-inline: 5px 3px;
}

#RETF-container {
	display: flex;
	gap: 12px;
}

#refreshRETF {
	flex: 66%;
}

#skipRETF {
	flex: 100%;
}

/** Tab 5: log. **/
#actionlog-container {
	grid-column-end: span 12;
	max-height: 320px;
	overflow: auto;
}

#actionlog {
	border-collapse: collapse;
	grid-column-end: span 12;
	width: 100%;
	table-layout: fixed;
}

#actionlog th, #actionlog td {
	padding: 4px 20px;
	text-align: initial;
}

#actionlog tr td:last-child {
	display: flex;
	white-space: nowrap;
	gap: 4px;
}

#actionlog td a:first-child {
	flex: 1 1 auto;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#actionlog tr:nth-child(odd) {
	background-color: var(--background-color-base, white);
}

/* increase specificity to overwrite the header row's background color */
#actionlog#actionlog > thead > tr,
#actionlog tr:nth-child(even) {
	background-color: var(--background-color-neutral, #eaecf0);
}

/* Stats footer. */
#stats {
	background-color: var(--background-color-neutral-subtle, #f8f9fa);
	inset: auto 0 0;
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
	justify-content: space-evenly;
	padding: 8px;
	position: fixed;
	margin: 0;
}

#stats div {
	display: flex;
	height: 16px;
	margin: 2px 0;
}

#stats dt {
	display: flex;
	font-weight: normal;
	margin-inline-end: 5px;
}

#stats dt::before {
	height: 20px;
	width: 20px;
	margin-inline-end: 6px;
	margin-top: -1px;
}

#stats dd {
	margin: 0;
}

/* Popups */

#pagelistPopup form {
	position: relative; /* Same as #ns-filter width. */
}

fieldset[disabled] > :not(legend) {
	opacity: .6;
}

#pageListPopup-container {
	display: flex;
	flex-direction: row-reverse;
	gap: 24px;
}

#ns-filter {
	flex-direction: column;
	text-align: center;
}

#pageList-fieldsets {
	flex: 100%;
}

dialog button {
	margin-top: 16px !important;
}

.moreReplaces {
	display: flex !important;
	margin: 16px auto !important;
}

.replaces + .replaces {
	border-top: 2px solid var(--border-color-base, #a2a9b1);
	margin-top: 32px;
	padding-top: 32px;
}
