/** Stylesheet for the JWB script.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, aBoston, MA 02110-1301, USA.
 * http://www.gnu.org/copyleft/gpl.html
 *
 * See [[User:Joeytje50/JWB.js]] for more information.
 */

/* Apparently this is needed for the HTML5 tags in older browsers */
section, footer, aside, nav, main, article {display: block;}

/* Normalise body */
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: white;
	background: var(--background-color-base, #fff);
	color: black;
	color: var(--color-base, #202122);
}
body:before, body:after {
	content: normal !important;
}

/* Styling for the panels */

body {
	background: none !important;
	font: 16px sans-serif;
	line-height: 20px;
	margin: 0 4px;
}

hr {
	margin: 0.15em 0;
}

#resultWindow {
	resize: vertical;
	height: 300px;
	min-height: 300px !important; /*important to prevent inline styles from resizing to smaller sizes*/
	border: 1px solid #c8ccd1;
	border: 1px solid var(--border-color-subtle, #c8ccd1);
	padding: 3px;
	overflow: auto;
}
#resultWindow * {resize: none;}
#inputsWindow {
	height: 360px;
	padding-bottom: 30px;
	border-bottom: 1px solid #c8ccd1;
	border-bottom: 1px solid var(--border-color-base, #a2ab91);
}

#inputsBox {
	height: 100%;
}
#tabs {
	width: 300px;
	height: 100%;
	float: left;
	padding-top: 5px;
	position: relative;
}
#editBox {
	height: 100%;
	position: relative;
	margin-left: 510px;
	padding-top: 1px;
}
#articleBox {
	width: 200px;
	height: 100%;
	float: left;
	margin-right: 5px;
	position: relative;
	z-index: 25;
}

#editBoxArea {
	position: absolute;
	z-index: 30;
	top: 20px;
	right: 0;
}

body.AutoWikiBrowser textarea {
	width: 100%;
	min-width: 100% !important; /*important to prevent inline styles from resizing to smaller sizes*/
	height: 100%;
	min-height: 100% !important;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: white;
	background: var(--background-color-base, #fff);
	color: black;
	color: var(--color-base, #000);
}
body.AutoWikiBrowser fieldset {
	padding: 0 5px 5px;
	line-height: inherit;
	border: 1px solid #36c;
	border: 1px solid var(--border-color-progressive--focus, #36c);
	margin: 2px 0;
}
legend {
	padding: 0 5px;
	font-size: 100%;
}
button, .button {
	background: #f1f4fd;
	background: var(--background-color-progressive-subtle, #f1f4fd);
	border: 1px solid #72777d;
	border: 1px solid var(--border-color-interactive, #72777d);
	border-radius: 3px;
	padding: 0 6px;
	margin: 2px;
	cursor: default;
	color: #333;
	color: var(--color-base, #202122);
	font: 13px/20px sans-serif;
	display: inline-block;
}
button:hover, .button:hover {
	background: #dce3f9; /* Old browsers */
	background: var(--background-color-progressive-subtle--hover, #dce3f9);
	color: #333;
	color: var(--color-base, #202122);
}
button:active, .button:active {
	background: #cbd6f6; /* Old browsers */
	background: var(--background-color-progressive-subtle--active, #cbd6f6);
	color: #333;
}
button[disabled], button[disabled]:hover, button[disabled]:active,
.button.disabled, .button.disabled:hover, .button.disabled:active {
	background: #dadde3;
	background: var(--background-color-disabled, #dadde3);
	color: #000;
	color: var(--color-base, #202122);
	border: 1px solid #c8ccd1;
	border: 1px solid var(--border-color-subtle, #c8ccd1);
	opacity: 0.6;
}
.button input[type="file"] {
    position: fixed;
    top: -1000px;
}

#save:after {
    content: " '" attr(value) "'";
    font-style: italic;
}

#status {
	border: 1px solid #c8ccd1;
	border: 1px solid var(--border-color-subtle, #c8ccd1);
	padding: 0 3px;
	position: relative;
	z-index: 20;
	background: #fff;
	background: var(--background-color-base, #fff);
}

/* Interface */

#tabs .JWBtabc {
	display: none;
	height: 100%;
	border: 1px solid #72777d;
	border: 1px solid var(--border-color-interactive, #72777d);
	padding: 3px;
	margin-top: -1px;
	margin-bottom: -22px;
	overflow: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
#tabs .JWBtabc.active {
	display: block;
}
.fullwidth {
	width: 95%;
	display: block;
}
.JWBtabc input[type="text"],
.JWBtabc input[type="number"],
.JWBpopup input[type="text"] {
	border: 1px solid #c8ccd1;
	border: 1px solid var(--border-color-subtle, #c8ccd1);
	border-radius: 5px;
	box-shadow: 1px 1px 3px;
	padding: 2px;
	margin-bottom: 4px;
}
#replacesButton {
	float: right;
	margin-top: -25px;
}
#replacesButton.replacesActive::after {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAMAQMAAAB7mV5tAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAGUExURUdwTAAAAJ8qhFEAAAABdFJOUwBA5thmAAAAD0lEQVQI12MwYECHDCASABooAhHc6GaKAAAAAElFTkSuQmCC");
	margin-left: 3px;
}
#refreshRETF {
	cursor: pointer;
}
#skipRETF {
	margin-left: 2em;
	margin-top: 0;
	visibility: hidden; /* JS overrides this when RETF is enabled */
}
.logActionNote {
	font-size: smaller;
}

.tabholder {
	position: relative;
}
.JWBtab.log {
	position: absolute;
	right: 0;
	font-weight: bold;
}
[dir="rtl"] .JWBtab.log {
	right:auto;
	left:0;
}
.JWBtabc.log {
	padding-bottom: 1.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.JWBtab {
	padding: 0 3px;
	border: 1px solid #72777d;
	border: 1px solid var(--border-color-interactive, #72777d);
	border-radius: 3px 3px 0 0;
	background: #fff;
	background: var(--background-color-base, #fff);
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
}
.JWBtab:hover {
	background: #f1f4fd;
	background: var(--background-color-progressive-subtle, #f1f4fd);
}
.JWBtab:active {
	background: #cbd6f6;
	background: var(--background-color-progressive-subtle--active, #cbd6f6);
}
.JWBtab.active {
	background: #cbd6f6;
	background: var(--background-color-progressive-subtle--active, #cbd6f6);
	border-bottom: 1px solid #BBE;
}

.minorEdit {
	position: absolute;
	right: 8px;
	z-index: 5;
}
.editSummary {
	position: relative;
	display: inline-block;
	width: 266px; /* 260px of #summary, plus 1px border each side, plus 2px padding each side */
}
#summary {
	display: inline-block;
	width: 260px;
}
.viaJWB #summary {
	width: 170px;
	padding-right: 92px;
}
.viaJWB:after {
	content: " (via JWB)";
	font-size: 12px;
	position: absolute;
	right: 0;
	bottom: 5px;
	background: #c8ccd1;
	background: var(--background-color-interactive--active, #c8ccd1);
	color: inherit;
	border-radius: 0 5px 5px 0;
	padding-left: 3px;
	width: 85px;
}

.editbutton {
	padding: 10px;
	margin: 2px;
	font-size: 115%;
	height: auto;
}

.divisor {
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid #dadde3;
	border-left: 1px solid var(--border-color-muted, #dadde3);
}

#limits label {
	display: block;
	position: relative;
	clear: right;
}
.timelimit-label::after {
	content: "ms";
	position: absolute;
	bottom: 0;
	right: 10px;
    font-style: italic;
}
#limits input {
	width: 100px;
	margin-right: 5px;
	float: right;
	text-align: right;
    box-sizing: border-box;
}
#timelimit {
	padding-right: 25px;
}

#actionlog {
	border-collapse: collapse;
	margin-bottom: 25px;
}
#actionlog tr {
	border: 1px solid #c8ccd1;
	border: 1px solid var(--border-color-base, #a2ab91);
}
#actionlog td:last-child {
	width: 85%;
}

/* Layout */

#stats {
	padding-top: 3px;
}

.regexFlags,
#containFlags {
	width: 30px;
}
.replaceText, .replaceWith {
	width: 200px;
	margin-right: 5px;
	float: right;
}
#replacesPopup .replaceText, #replacesPopup .replaceWith {
	width: 80%;
	width: calc(100% - 100px);
}
#replacesPopup .replaces {
	border-bottom: 2px dashed #a2ab91;
	border-bottom: 2px dashed var(--border-color-base, #a2ab91);
	margin-bottom: 5px;
}
.replaces > label, .replaces > .regexswitch {
	clear: both;
}

#pagelistPopup fieldset > label {
	display:block;
}

.listSMW {
	display: none;
}
.hasSMW .listSMW {
	display: block;
}
#smwquery {
	height: 3em;
	padding: 2px;
	resize: vertical;
}

#watchPage {
	width:150px;
}

b {
	font-size: 85%;
	font-weight: bold;
}
.regexswitch {
	font-style:italic;
}
.infoLink {
	font-size: 70%;
	vertical-align: super;
	text-decoration: none;
	border-bottom: 1px dotted #202122;
	border-bottom: 1px dotted var(--border-color-interactive--active, #202122);
	cursor: help;
}

#startstop {
	float: right;
}
#startstop button {
	margin: 2px;
}

#startbutton, #submitButton, #movePage {font-weight: bold; color: #177860; color:var(--color-success, #177860);}
#skipButton, #stopbutton, #deletePage {color: #bf3c2c; color: var(--color-destructive, #bf3c2c);}
#previewButton, #protectPage {color:#36c; color:var(--color-progressive, #36c)}
#skipPage, #diffButton {color: #886425;color:var(--color-warning, #886425);}

#articleList {white-space: pre;}
#articleList[disabled]:first-line {
	background-color: #77F;
	color: #000;
}

tr[data-line]:not(.lineheader) {cursor: pointer;}

#pagelistButton {font-weight: bold;}

#downloads {display: none;}
#settings [id]:after {
	margin-left: 3px;
}
#saveAs:after {
	content: url("data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAMElEQVQY02NgQAX/GYgE5ClkRBNgxKWQkPH/WQgoZmRgYGBgIsaBLDjcw4DP4VgBAMy1CQeFLw4MAAAAAElFTkSuQmCC");
}
#saveToWiki:after {
	content: url("data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAIAQMAAAARA0f2AAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAAB9JREFUeF4FwLERADAEAMAfXTKDRmFQFUcYPknRPNYBP0QFRpaso0EAAAAASUVORK5CYII=");
}
#download:after {
	content: url("data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKAQMAAABcy+b9AAAABlBMVEVwAAAAAACuRbQOAAAAAXRSTlMAQObYZgAAAB1JREFUeF5j4GCAotcNDB0NDPsaGOaAGQ0NDP8bAFrICG2BvdHlAAAAAElFTkSuQmCC");
}
#deleteSetup:after {
	content: url("data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABVJREFUeF5jOMbwjqGGwQKI3zEcAwAgNgSZRG9YDAAAAABJRU5ErkJggg==");
}
#importLabel:after {
	content: url("data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKAQMAAABcy+b9AAAABlBMVEVwAAAAAACuRbQOAAAAAXRSTlMAQObYZgAAAB1JREFUeF5j4GBgkGFgsGMAMV43MHTAUEMDw/8GAEkxB20iTmm8AAAAAElFTkSuQmCC");
}
#updateSetups:after {
	content: url("data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJAQMAAAA1nf9tAAAABlBMVEVwAAAAAACuRbQOAAAAAXRSTlMAQObYZgAAABpJREFUeF5jkGFYxHCQ4SEDA0M7QzODK4MFACYrA+hkjEi+AAAAAElFTkSuQmCC");
}

/* Popup window */

#overlay {
	z-index: 40;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	background: var(--background-color-inverted, #101418);
	color: white;
	color: var(--color-inverted, #fff);
	opacity: 0.3;
}

.JWBpopup {
	position: fixed;
	z-index: 50;
	top: 15%;
	left: 25%;
	width: 50%;
	height: 70%;
	border: 2px solid black;
	padding: 5px;
	overflow: auto;
	background: #f8f9fa;
	background: var(--background-color-interactive-subtle, #f8f9fa);
	color: inherit;
}

#pagelistPopup form {
	position: relative;
	padding-right: 175px; /*same as #ns-filter width*/
}
fieldset[disabled] > :not(legend) {
	opacity: 0.7;
}
select option[value=""] {
	font-style: italic;
}
#ns-filter {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 175px;
	text-align: center;
}
#ns-filter select {
	height: 100%;
}

/* GENERAL DARK MODE FIXES - DELETE ON YOUR WIKI IF VECTOR 2022 IS NOT USED */
@media screen {
	html.skin-theme-clientpref-night #saveAs:after,
	html.skin-theme-clientpref-night #saveToWiki:after,
	html.skin-theme-clientpref-night #download:after,
	html.skin-theme-clientpref-night #deleteSetup:after,
	html.skin-theme-clientpref-night #importLabel:after,
	html.skin-theme-clientpref-night #updateSetups:after {
		color-scheme: light;
		filter: invert(1) hue-rotate(180deg);
	}
}
@media screen and (prefers-color-scheme:dark) {
	html.skin-theme-clientpref-os #saveAs:after,
	html.skin-theme-clientpref-os #saveToWiki:after,
	html.skin-theme-clientpref-os #download:after,
	html.skin-theme-clientpref-os #deleteSetup:after,
	html.skin-theme-clientpref-os #importLabel:after,
	html.skin-theme-clientpref-os #updateSetups:after {
		color-scheme: light;
		filter: invert(1) hue-rotate(180deg);
	}	
}
